body {
  box-sizing: border-box;
  background-color: #bbb;
}

h1 {
  text-align: center;
}

.container {
  margin: 0 auto;
}

.row {
  display: flex;
}

.swatch {
  height: 60px;
  width: 60px;
  background-color: orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hue-name {
  height: 60px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


