body {
  box-sizing: border-box;
  background-color: #bbb;
}

h1 {
  text-align: center;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.palette {
  margin: .5rem auto;
}

.row {
  display: flex;
}

.swatch {
  height: 1.75rem;
  width: 1.75rem;
  background-color: orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hue-name {
  height: 1.75rem;
  width: 5rem;
  display: none;
}

.hue-scale {
  display: flex;
}

@media screen and (min-width: 400px){
  .hue-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

@media screen and (min-width: 768px){
  .swatch {
    height: 3rem;
    width: 3rem;
  }
  .hue-name {
    height: 3rem;
    width: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .palette {
    margin: 1rem;
  }
}

@media screen and (min-width: 960px){
  .swatch {
    height: 4rem;
    width: 4rem;
  }
  .hue-name {
    height: 4rem;
    width: 6rem;
  }
}
